:root {
    --textoColor: white;
    --btnGuardarUsuario: #87CEEB;
    --btnGuardarUsuarioborder: #87CEEB;
    --btnModificarUsuario: #5F9EA0;
    --btnModificarUsuarioborder: #5F9EA0;
    --btnDeshabilitarUsuario: #FFA07A;
    --btnDeshabilitarUsuarioborder: #FFA07A;
    --btnDetalleExistencia: #32b5e9;
    --btnDestalleExistenciaborde: #32b5e9;
    --btnReporteExistencia: #A9A9A9;
    --btnReporteExistenciaborde: #A9A9A9;
    --btnAnularExistencia: #FFA07A;
    --btnAnularExistenciaborde: #FFA07A;
    --btnSolicitudPedidoEnviar: #87CEEB;
    --btnSolicitudPedidobordeEnviar: #87CEEB;
    --btnSoliCancelar: #FFA07A;
    --btnSoliCancelarborde: #FFA07A;
    --textoColorbtn: #fff;
    --textcolorbtn2: #000;
    --containerFluid: #004D71;
    --banner: #0080BB;
    --bodyForm: lightblue;
    --seccion: #FF4438;
    --header: #fff;
    --headerborder: linear-gradient(to right, #FF4438 0%, #0080B5 100%) 1;
    ;
    --navMenu: rgba(0, 0, 0);
    --dropdownMenu: rgb(0, 0, 0);
    --dropdownitem: #fff;
    --dropdownItemHovertext: #fff;
    --dropdownItemHover: rgba(252, 250, 250, 0.425);
    --navhovertext: #fff;
    --navhover: rgba(252, 250, 250, 0.425);
    --footer: #0080BB;
    --footerdegradado: linear-gradient(to left, #FF4438 0%, #0080B5 90%) 1;
    --footerredees: #fff;
    --mainfooterredes: #fff;
    --mainfooterredesi: #000;
}